body { background:#f6f6f6;}

.main {        
         
    width: 980px;
    height: 1000px;
    margin: 0px auto;
    margin-top: 20px;
    position:relative;
 }  

 .main h1 { 
 	font-size: 30px;
 }

 .left {
 	
 }



 #bd {        
   
    background: #f6f6f6;   
 }

 #mejpg {
 	width: 166px;
 	margin: 0px auto;
 	position: relative;
 	top: -50px;
 	border: 5px black solid;
 	border-radius: 84px;
 }

/*blog*/

.section1 {
	width: 660px;
	background: white;
	padding: 20px;
	float:left;
}

#left {
	
	}

#right {
	background: black;
}

.section1 h1,
.section4 h1 {
	font-size: 16px;
}

.section1 h2,
.section4 h2 {
	font-size: 12px;
	font-color:#666;
}

p.info {
	width: 192px;
	margin-left: 468px;
}

.section2 {
	height: 45px;
	width: 216px;
	background: white;
	float: left;
	position:absolute;
	right:0px;
	top:10px;


	
}

#inputtext {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px;
    width: 170px;
    *height: 24px;
    float: left;
    position: relative;
    top: -15px;
}

#inputbutton {	
    font-size: 20px;
    height: 42px;
    width: 46px;
    *height: 24px;
    background: #f6f6f6;
    color: black;
    float: left;
    margin-top: -15px;
   text-align: center;
}

#inputbutton p{
	margin-top: 10px;}

.section3 {
	height: 200px;
	width: 256px;
	background: white;
	float: left;
	
	font-size: 16px;
	vertical-align: middle;
}

.section3 div {
	height: 50px;
	line-height: 49px;
	border-bottom: 1px solid black;
	border-left: 3px solid #f6f6f6;
 	padding-left: 15px;
 }

.section5 {
	height: 220px;
	width: 216px;
	background: white;
	
	
	padding: 20px;
	line-height: 37px;
	font-size: 14px;
	float: left;
}

.section5 div {
	border-bottom: 2px solid #f6f6f6;		
	height: 33px;
	background:white;
	padding-left:10px;
}

.section5 span {
	margin-left: 2px;
}

.section5 #middle {
	margin-left: 40px;
}

.section5 #right {
	background: white;
	position: relative;
	left: 40px;
}

.section6 {
	height: 160px;
	width: 216px;
	background: white;
	float: right;
	float: left;
	padding: 20px;
}

.section6 #secname { 
	font-size:14px;
	margin-bottom:30px;
	color:grey;
}


.section6 span {
	margin-left: -2px;
	margin-right: -2px;
	font-size: 12px;
}

span.big {
	font-size:30px;
}

span.middle {
	font-size: 20px;
}

.sidebar1 {
	width: 50px;
	height: 40px;
	background: green;
	float: left;
	position: absolute;
	top: 130px;
	left: 268px;
}

.sidebar2 {			
	width:50px;
	height:40px;
	background:blue;
	float:left;
	position:absolute;
	left:268px;
	top:170px;
}

.sidebar3 {
	width: 50px;
	height: 40px;
	background: black;
	color: white;
	float: left;
	position: absolute;
	top: 430px;
	left: 268px;
}

.sidebar4 {
	width: 50px;
	height: 40px;
	background: red;
	color: white;
	float: left;
	position: absolute;
	left: 268px;
	top: 470px;
}

.sidebar1,
.sidebar2,
.sidebar3,
.sidebar4 {
	text-align:center;
}

.section4 {
	width: 660px;
	background:white;
	margin-top:10px;
	padding:20px;
	float: left;
}

#bottom { 
	margin-top: 10px;
	width: 660px;
	background: black;
	clear: top;
}

#bottom div {
	float: left;
	margin: 0px 8px;
	position: relative;
	top: -250px;
	left: 47px;
}

.section7 {
	height: 40px;
	width: 65px;
	background: white;
	text-align: center;
}

.section8 {
	height: 40px;
	width: 40px;
	background: white;
	text-align: center;	
}

#bottom p {
	font-size:12px;
}

#test {
	background: white;
	height: 65px;
	width: 50px;
	   }

.section3 a, 
.section2 a, 
.section7 a, 
.section8 a {
	color:#000000;
}

.section3 a {
	border-left:3px solid black;
	padding-top:16px;
	padding-left:0px;
	padding-bottom:18px;
	padding-left:20px;
	position:relative;
	left:-17px;
}

.section3 a:hover {
	border-left:3px solid yellow;
}

#inputbutton a{
	position: relative;
	top: 10px;
	padding: 10px 15px;
	border: 1px solid black;
}


#inputbutton a:hover{
	background: black;
	color: white;
}          