body { background:#f6f6f6;}

#main {                
    width: 980px;
    height: 1000px;
    margin: 0px auto;
    margin-top: 20px;
    position:relative;

 }  

 .main h1 { 
 	font-size: 30px;
 }

#blog-content {                
    width: 700px; 
    
    float:left;

 }  

.content {
	width:700px;
	padding:20px;
	margin-bottom:10px;
	background: white;
	font-size:12px;
	line-height:150%;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;	
}

.blog-tag-1 {
	width: 50px;
	height: 40px;
	background: red;
	position: absolute;
	top: 30px;
	left: -50px;
	text-align:center;
}

.blog-tag-2 {
	width: 50px;
	height: 40px;
	background: yellow;
	position: absolute;
	top: 70px;
	left: -50px;
	text-align:center;
}

.content h1
 {
	font-size: 16px;
}

.content h2 {
	font-size: 12px;
	font-color:#666;
}

p.info {
	width: 200px;
	margin-left: 468px;
}

.search {
	height: 85px;
	width: 260px;
	background: white;
	float: right;
	position:relative;
	padding:20px;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;	

}

#inputtext {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    width: 170px;
    *height: 24px;
    position:absolute;
    left:20px;
    top:20px;
       
}

#inputbutton {
	height: 43px;
    width: 50px;
	position:absolute;
    right:20px;
    top:20px;
    font-size: 20px;    
    *height: 24px;
    background: #f6f6f6;
    color: black;   
   text-align: center;
}


#inputbutton a{
	position: relative;
	top: 9px;
	padding: 9px 10px;
	border: 1px solid black;
}


#inputbutton a:hover{
	background: black;
	color: white;
}          

.side-link {
	height: 200px;
	width: 260px;
	margin-top:10px;
	background: white;
	float: right;
	font-size: 16px;
	vertical-align: middle;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.side-link div {
	height: 50px;
	line-height: 49px;
	border-bottom: 1px solid black;
	border-left: 3px solid #f6f6f6;
 	padding-left: 15px;
 }

.side-link a, 
.section2 a, 
.section7 a, 
.section8 a {
	color:#000000;
}

.side-link a {
	border-left:3px solid black;
	padding-top:16px;
	padding-left:0px;
	padding-bottom:18px;
	padding-left:20px;
	position:relative;
	left:-17px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.side-link a:hover {
	border-left:3px solid yellow;
} 

.calender {
	height: 250px;
	width: 260px;
	margin-top:15px;
	padding: 20px;
	line-height: 37px;
	font-size: 14px;
	float: right;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;	
}

.calender div {
	border-bottom: 2px solid #f6f6f6;		
	height: 33px;
	background:white;
	padding-left:10px;
}

.calender span {
	margin-left: 2px;
}

.calender #middle {
	margin-left: 40px;
}

.calender #right {
	background: white;
	position: relative;
	left: 40px;
}

.tags {
	height: 230px;
	width: 260px;
	margin-top:15px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background: white;
	float: right;
	
	padding: 20px;
}

.tags #secname { 
	font-size:14px;
	margin-bottom:30px;
	color:grey;
}


.tags span {
	margin-left: -2px;
	margin-right: -2px;
	font-size: 12px;
}

span.big {
	font-size:30px;
}

span.middle {
	font-size: 20px;
}

#blog-nav { 
	margin-top: 10px;
	width: 660px;
	background: black;
	clear: both;

}

#blog-nav div {
	float: left;
	margin: 0px 8px;
	position: relative;
	top: -120px;
	left: 47px;
}

#blog-nav p {
	font-size:12px;
}

.section7 {
	height: 40px;
	width: 65px;
	background: white;
	text-align: center;
}

.section8 {
	height: 40px;
	width: 40px;
	background: white;
	text-align: center;	
}