#nav {
	display: inline-block;
	color: white;
	font-size: 14px;
	
}

body {
	background: #f6f6f6;
}

.main {        
         
    width:980px; 
    height: 900px; 
    margin:0px auto;         
    margin-top: 20px; 
    margin-bottom: 100px; 
    position:relative;
 }  

 
.top {
	width:700px;
}


 .top div {
 	font-size: 15px;
 	float: left;
 	line-height: 16px;
 	background: white;
 	border: 1px solid #f6f6f6;
 	border-top: 3px solid white;
 	
 }



.middle { 
	width: 660px;
	height: 740px;
	background: white;
	float: left;
	padding: 20px;
	color: white;
}

.middle h1 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.middle p {
	font-size: 1px;
}

.content1 {
	width: 330px;
	float: left;
}

.text1 {
	margin-top: -5px;
		padding: 5px;
		background: purple;
}

.part1sec { 
	width: 40px;
	height: 110px;
	float: left;
}

.part1 {
	height: 30px;
 	width: 30px;
	border-radius: 50%;
	border: 1px solid #f6f6f6;	 	
	text-align: center;
	margin-right: 10px;	 	
}

.count1 h1 { 
	line-height: 30px;
	font-size: 14px;
}

.content2 {float:left;
		margin-left:10px;}

.content21 {
	float: left;
	margin-left: 10px;
	margin-top: -80px;
}

.content22 {
	float: left;
	margin-left: 180px;
	margin-top: -160px;

}

.text2 {
	margin-top: -5px;
	padding: 5px;
	background:purple;
	width: 145px;
}

.content3 {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.text3 {
	margin-top: -5px;
	padding: 5px;
	background: red;
	width: 145px;
}

.content4 {
	float: left;
	margin-top: -255px;
}

.content41 {
	float: left;
	margin-top: -65px;
}


.text4 {
	margin-top: -5px;
    padding: 5px;
    width: 150px;
	background: purple;
}

.content5 {
	float: left;
	margin-left: 10px;
	margin-top: -255px;
}

.content51 {
	float: left;
	margin-left: 10px;
	margin-top: -70px;
}


.text5 {
	margin-top: -5px;
	padding: 5px;
	width: 150px;
	background: green;
}

#search {
	width: 220px;
	height: 45px;
	background: white;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid #f6f6f6;
	position:absolute;
	right:0;
	top:0px;

	
}

#inputtext {
    padding-top: 0;
    padding-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
    width: 170px;
    *height: 24px;
    margin-top:-5px;
    float: left;
}

#inputbutton {	
    font-size: 20px;
    height: 45px;
    width: 50px;
    *height: 24px;
    background: #f6f6f6;
    color: black;
    float: left;
    margin-top: -17px;
   text-align: center;
}

#inputbutton p{
	margin-top: 10px;
	}

#rank {
	width: 240px;
	height: 228px;
	background: white;
	margin-left: 710px;
	padding: 10px 10px 15px 10px;
	font-size: 12px;
	position:absolute;
	right:0;
	top:150px;

}

#tablename {
	margin-bottom: 30px;
}

.coloum {
	font-size: 16px;
}

.number {
	font-size: 10px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: black;
	color: white;
	vertical-align: center;
	float: left;
	text-align: center;
}

.number p {
	margin-top: 2px;
}

p {
	margin-top: 5px;
}

.cube {
	width: 100px;
	height: 22px;
	border: 1px solid black;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

#cube1 {
	width: 100px;
	height: 22px;
	background: black;
}

#cube2 {
	width: 80px;
	height: 22px;
	background: black;
}

#cube3 {
	width: 60px;
	height: 22px;
	background: black;
}

#cube4 {
	width: 40px;
	height: 22px;
	background: black;
}

#cube5 {
	width: 20px;
	height: 22px;
	background: black;
}

.bottom {
	padding: 0px 5px;
	width: 690px;
	height: 40px;
	background: white;
	clear: left;
	font-size: 12px;
	position: relative;
	top: 10px;
	text-align: center;
	line-height: 40px;
}

.top a, 
#search a, 
.bottom a {
	color: #000;
}

.top a {
	display:inline-block;
	border-top: 3px solid black;
	padding-top: 5px;
	background:white;
	padding:15px 15px 15px 15px  ;
	
	font-size:16px;
}

.top a:hover {
	border-top: 3px solid yellow;
}


#inputbutton a{
	position: relative;
	top: 6px;
	padding:8px  9px 9px 9px ;
	border: 1px solid black;
}



#inputbutton a:hover{
	background:black;
	color:white;
}