body { 
	font-family: Microsoft YaHei, sans-serif;
		}

body, img{
	margin:0px;
}

header {
	height: 80px;
	background: black;
	position:relative;
}

#header-content {
	width: 980px;
	margin: 0px auto;
	
	height:80px;
	vertical-align: bottom;
}

#logo { 
	float:left;
	margin-top:35px;
	display: inline-block;
}

#nav {
	display: inline-block;
	color: white;
	font-size: 14px;
	float:right;
	margin-top:55px;
	margin-bottom:0px;
	
}

span {
	margin: 0px 14px;
}

#github-top { 
	width:30px;
	height:34px;
	position: absolute;
	right:0px;
	bottom:0px;

}

/* footer */

footer {
	height:400px;
	background:black;
	color:white;
	clear:left;
	position:relative;
}

footer .line {
	height:1px;
	width:980px;
	margin:0px auto;
	position:relative;
	top:14px;
	background:white;
}


.footer-nav {
	text-align: center;
	color: white;
	font-size: 14px;
	position:relative;
	top:14px;

}

.footer-nav li {
	display: inline-block;
	margin:0px 15px;
}

.footer-wrap {
	margin:0px auto;
	width:980px;
}


.link {

	margin-top:30px;
	margin-bottom:63px;
	
}

.link li {
	
	
	font-size: 12px;
	list-style: none;
	margin-left: -40px;

	
}

.footer-link {
	display:inline-block;
	width:196px;
	float:left;
	overflow: hidden;
	text-align: center;

}

.footer-link p {
	
	text-align:center;
	font-size: 12px;
	margin-bottom: 50px;
}

.footer-link ul {
	margin:0px auto;

}




#copyright { 
	width:100%;
	font-size: 14px;
	clear:left;
	position:absolute;
	bottom:0px;
	text-align: center;
	
}

a {
	text-decoration: none;
	color: white; 
}

.link a:hover {
	text-decoration:underline;
}


