body { 
	font-family: Microsoft YaHei, sans-serif;
		}

body, img{
	margin:0px;
}

header {
	height: 80px;
	background: black;
	position:relative;
}

#header-content {
	width: 980px;
	margin: 0px auto;
	
	height:80px;
	vertical-align: bottom;
}

#logo { 
	float:left;
	margin-top:35px;
	display: inline-block;
}

#nav {
	display: inline-block;
	color: white;
	font-size: 14px;
	float:right;
	margin-top:55px;
	margin-bottom:0px;
	
}

span {
	margin: 0px 14px;
}

#github-top { 
	width:30px;
	height:34px;
	position: absolute;
	right:0px;
	bottom:0px;

}

/* footer */

footer {
	height:450px;
	background:black;
	color:white;
	clear:left;
	position:relative;
}

footer .line {
	height:1px;
	width:980px;
	margin:0px auto;
	position:relative;
	top:14px;
	background:white;
}


.footer-nav {
	text-align: center;
	color: white;
	font-size: 14px;
	position:relative;
	top:14px;

}

.footer-nav li {
	display: inline-block;
	margin:0px 15px;
}


.link {
	margin-top:30px;
	text-align: center;
}

.link li {
	display:inline-block;
	margin: 0px 80px;
	font-size: 12px;
	position:relative;
	left:-20px;
}




.footernav2 li  {
	margin: 0px 65px;
	font-size: 14px;
	position:relative;
	top:40px;
}

.footer-link-top li {
	position:relative;
	top:50px;
}

.footer-link-middle li {
	position:relative;
	top: 25px;
}

.footer-link-third li {
	position:relative;
	top: -25px;
}

.footer-link-bottom li {
	position:relative;
	top: -50px;
}

#copyright { 
	
	font-size: 14px;
	text-align: center;
	position:relative;
	top:43px;
}

a {
	text-decoration: none;
	color: white; 
}

.link a:hover {
	text-decoration:underline;
}


